.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}
.cont-logo {
  width: 80px;
}
.cont-logo img {
  width: 100%;
}
